
Digital_Dashboard/Digital_Dashboard_en_US.ts
Digital_Dashboard/Digital_Dashboard.pro
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/release/qmake_qmake_qm_files.qrc
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/Makefile.Release
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/Makefile.Debug
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/Makefile
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/qrc_qml.obj
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/qrc_qml.cpp
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/qrc_qmake_qmake_qm_files.obj
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/qrc_qmake_qmake_qm_files.cpp
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/qmake_qmake_qm_files.qrc
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/main.obj
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/Digital_Dashboard_en_US.qm
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/Digital_Dashboard.vc.pdb
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/Digital_Dashboard.pdb
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/Digital_Dashboard.ilk
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/debug/Digital_Dashboard.exe
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/compile_commands.json
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/yvals_core.h.A6D8689C306EB3D4.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/yvals.h.2C5F41C4C5512920.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xutility.4567732C5FEED38E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xtree.335925E81A3A8530.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xtr1common.72042E875C303B08.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xtimec.h.84B11DA395BE631D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xthreads.h.7947309C3D3F3A60.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xstring.A1DB067E79062AC9.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xstddef.5F757D1552CA0436.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xsaveintrin.h.7C788A495CD02013.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xmmintrin.h.1442991EA1366AA8.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xmemory.390F40ECF896B36D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xkeycheck.h.7E276F6973CC8DD6.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/xatomic.h.BB1A7CE6ECDA9C61.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/x86intrin.h.0E02BB367B8498C6.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/x86gprintrin.h.D184AC382AFFDA5B.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/wchar.h.A1D30D8562162B19.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vector.7731C1FA8D47EC57.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vcruntime_typeinfo.h.B6F35101CC124925.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vcruntime_string.h.BBB50891E22A89DB.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vcruntime_new_debug.h.255927CB020F1B14.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vcruntime_new.h.AB34E3536E7CCB33.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vcruntime_exception.h.83D7E506EC5AAA0B.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vcruntime.h.124BABB9134879C7.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vadefs.h.C19120C6E4E0031D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/vadefs.h.48DB63EB6D35626F.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/utility.68973352D0FFB067.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/use_ansi.h.EFED6B17278CD7F3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/types.h.42FBB13494B8EEBD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/typeinfo.FF3C139DBE954FC3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/type_traits.491E4BD2A64D04C7.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/tuple.EC43F6923AA85D59.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/time.h.991C0B27BE1C1F68.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/string.h.AD4ED09259043E92.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/string.7541E9F0C5320377.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stdlib.h.670D46169E95ADED.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stdio.h.EA4B5ABC3DF30897.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stdint.h.C30B27D3BCE2E0E1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stdint.h.5EAF3362EF8D0F00.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stddef.h.A7461BBA3A1BF70E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stdarg.h.69C0F22F28ECAECD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/stat.h.F8871F0F58B70D5A.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/setjmp.h.8D76F676D69EB12F.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/sal.h.EB9C87602390D22B.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/ratio.840A016E461DC726.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qwindowdefs_win.h.8B722A6C81AC033C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qwindowdefs.h.133B7B8AA1803AD2.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qversiontagging.h.DE12A981E511F058.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qvector.h.A1F41F8FC05EC545.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qvarlengtharray.h.FD5C449A971EC3AD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qvariant.h.FF44000FBDBC75FC.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qurl.h.EA0CED91AACE1A85.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtypeinfo.h.456AC4C3CF995BF3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtranslator.h.C06EC959E7B79EF0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/QTranslator.C0F82198B04ED13C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtqmlglobal.h.D3D7AE4E211C9C61.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtqml-config.h.B5777D862917F520.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtnetworkglobal.h.26C8240AFE5EB4A9.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtnetwork-config.h.0EE1C2F9CBA48883.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtguiglobal.h.7739F53AA1D18232.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtgui-config.h.DCD5030570D41D57.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtextstream.h.7C80CD9DB5E57179.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qtcore-config.h.B9B45B138B267D5D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qsystemdetection.h.FD127BAFDCEDDFDD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qsysinfo.h.E48B2ED8B95CB8B4.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qstringview.h.A00F62E3D16D0DCA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qstringmatcher.h.170364862195B7B6.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qstringliteral.h.B3CA1CA879E6396C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qstringlist.h.DACEBB49E0D0CB5F.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qstringalgorithms.h.A8297137243CF5BA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qstring.h.40E308EE574331BE.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qsize.h.CF3298CAF9974865.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qsharedpointer_impl.h.C815704BEFD630DA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qsharedpointer.h.65D29925D4B9D50D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qshareddata.h.EE59EA419EA6B53E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qset.h.229B4992B8E75A7C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qscopedpointer.h.4CF4D2CDA1E8F9E7.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qregexp.h.3F3E8C9142487EC5.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qrefcount.h.1900D179F8D8BEF7.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmlpropertyvaluesource.h.C9744957E9339DBA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmlprivate.h.E8B80F18A20BCDB1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmlparserstatus.h.EB03B42FA424EB14.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmllist.h.3143AEBFA1BD1CD1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmlerror.h.4EBEBB6C714E98EF.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmlengine.h.E6B0C7E656BF1CDD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmldebug.h.21BC6AC76CA0C043.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqmlapplicationengine.h.797FD178C46FB302.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/QQmlApplicationEngine.182C33D61DC98039.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qqml.h.0906999671850EBD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qprocessordetection.h.9F528EF2F6A89EDC.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qpointer.h.3E42A48B5D64CD88.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qpoint.h.D94DEB9F52356BA3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qpair.h.AEB8CD1517CF923E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qobjectdefs_impl.h.4610F8EB90295A5B.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qobjectdefs.h.BDA0837E325443DD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qobjectdefs.h.52552309B4975986.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qobject_impl.h.DCA90DEAA12CBB33.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qobject.h.0FE9D92BD274242C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qnumeric.h.3A7C2677859BB426.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qnamespace.h.EBC4B48962F5DBCB.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qmetatype.h.6864560C268CBEEA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qmetaobject.h.CA87B3CBC0A2C036.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qmargins.h.DCEB9CD838EB63D9.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qmap.h.3E35F25AA8C7D333.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qlogging.h.97E9E60FA206A2C6.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qlocale.h.B680C73160540AA2.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/QLocale.09B6E0FEAA3003A7.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qlist.h.508F0FF74583F56C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qjsvalue.h.8855D541E3D02B9B.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qjsengine.h.8EA1963F7F07DB5C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qiterator.h.9E92625080DA3CF3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qiodevice.h.475E2BDE24FEDD98.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qinputmethod.h.DC9EFF51AC51CAAA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qhashfunctions.h.88EF23274DF4D338.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qhash.h.E0B35DAD079F38BA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qguiapplication.h.D6E52FEAD21A6078.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/QGuiApplication.9F08F9819E960E0D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qglobalstatic.h.3228A887C17510C1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qglobal.h.9F4D2BEBA304EC0E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qgenericatomic.h.CA4E208283184852.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qflags.h.352F599B0A724D82.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qeventloop.h.819A8C1CE625738D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qdebug.h.CE1B359D8F462EEC.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qcoreevent.h.535B55F97B70E02C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qcoreapplication.h.6A4ED80BD5B99535.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qcontiguouscache.h.4F34F33ECD70A162.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qcontainertools_impl.h.A8C4CB2C9F13E138.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qcontainerfwd.h.F5761D8C458AAAAC.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qconfig.h.F153233312442947.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qcompilerdetection.h.BD76FCE5B2ADC4FA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qchar.h.F7D0AA15EA3C4047.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qbytearraylist.h.D0E2BF06E64D4637.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qbytearray.h.3F609F8B44E6AF93.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qbasicatomic.h.DFCFD52474C49BDE.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qatomic_cxx11.h.F99B1C47BE3CA738.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qatomic.h.1A018C25720C43E5.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qarraydata.h.F4CE18507CA96564.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/qalgorithms.h.7494096CEA6EA4AF.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/numeric.E76B49E2B347E2FB.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/new.AC6B385C94E03492.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/mmintrin.h.80430AE4422A36DA.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/mm_malloc.h.5254046A898B25F2.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/memory.97255ADE71BC11C9.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/math.h.8C4BA3FCB65E9384.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/map.3A0DD477CBB57942.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/malloc.h.8376249BE1652A6E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/main.cpp.516BFAA90AEDA7FF.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/list.2D27D541BC6A96B9.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/limits.h.906B38F12EB776B3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/limits.h.03C0013DF317F662.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/limits.ED86EE96F799A4D9.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/iterator.2A5E6FDA80D92BF1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/isa_availability.h.2046BC4D35D41697.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/iosfwd.A55748F54E4C5128.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/intrin0.inl.h.FE4C12C83B30776C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/intrin0.h.F903C0FF9C38B702.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/intrin.h.F60691A366F9CBFE.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/initializer_list.FE5D61DF1887694D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/immintrin.h.30A10F41674F0504.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/ia32intrin.h.D30318210DD3EBEB.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/fxsrintrin.h.6E6FBF9C0A16D272.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/functional.CF1583B1ED123FE3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/float.h.360985C58F2FFBAE.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/float.h.25882F8E6D6C1342.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/exception.3DEC675DCF9C9B41.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/errno.h.9D9A3481AE232458.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/emmintrin.h.24B4DE32326E9B9D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/eh.h.CB6B66705159B3B5.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cwchar.8CB10ABE6AA8A3D6.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/ctype.h.8B7B3DC52F521F5F.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/ctime.330E16952C01EA5D.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cstring.7CE251E74C26C62E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cstdlib.615C5A46F86AEC5F.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cstdio.1195AF7772EBED88.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cstdint.97B35AB5E8EAEFA5.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cstddef.BD863D538B9E0AA0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/crtdefs.h.CEC91F4BB085E95C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/crtdbg.h.71DB84DE9B350B01.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wtime.h.E7AFC6CCA182C79A.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wstring.h.DF69AE0251B168F1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wstdlib.h.E19E2FD3E982DE93.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wstdio.h.C7F133279B7B1F01.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wprocess.h.03C0EFE06AF9E9C5.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wio.h.0FB4F96D45D4ED0E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wdirect.h.5502605F53EFE9A7.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wctype.h.41357B4BE9ABADE0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_wconio.h.6D11E608CF354EB0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_terminate.h.880ADA08E6AFA4C0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_stdio_config.h.13DF1A71ED0AFD3E.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_share.h.F1577CA1A24E6464.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_search.h.06BC79B90945C894.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_memory.h.0E91AE19B74EC5FF.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_memcpy_s.h.06140A86DB87F3C3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_math.h.9B1E94535B6A29FD.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt_malloc.h.8651C87CE966DB29.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/corecrt.h.112BF025E57753E0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/concurrencysal.h.2314AC910D331FCE.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/climits.3C4950D607930354.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/chrono.1CE4FD46A8AAD117.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cfloat.125763E5E733D7C1.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/cctype.EF609EBB08676F90.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/bmiintrin.h.B0DC90D4277D972C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/atomic.52981A1BB6E16116.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/assert.h.2AB23D72A3C57FD0.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/algorithm.BED4035523D63ECE.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/adxintrin.h.F6834E36890571BF.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/__stddef_max_align_t.h.73686C4C901DE5A3.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qtc_clangd/.cache/clangd/index/__msvc_chrono.hpp.EBE8F81B33FCB96C.idx
build-Digital_Dashboard-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/.qmake.stash
Digital_Dashboard/Digital_Dashboard_en_US.ts
Digital_Dashboard/Digital_Dashboard.pro
Digital_Dashboard/Digital_Dashboard_en_US.ts
Digital_Dashboard/Digital_Dashboard.pro
Digital_Dashboard/Digital_Dashboard_en_US.ts
Digital_Dashboard/Digital_Dashboard.pro
Digital_Dashboard/Digital_Dashboard_en_US.ts
Digital_Dashboard/qml.qrc
Digital_Dashboard/qml.qrc
